.schedule {
	max-width: 70%;
	margin: auto;
	display: block;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.container>h1 {
	padding: 20px 0;
}

.products {
	flex: 0.75;
}

.product {
	display: flex;
	width: 100%;
	height: 200px;
	overflow: hidden;
	border: 1px solid silver;
	margin-bottom: 20px;
}

.product:hover {
	border: none;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	transform: scale(1.01);
}

.product>img {
	width: 300px;
	height: 200px;
	object-fit: cover;
}

.product>img:hover {
	transform: scale(1.04);
}

.product-info {
	padding: 20px;
	width: 100%;
	position: relative;
}

.product-name,
.product-price,
.product-offer {
	margin-bottom: 20px;
}

.product-add {
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 10px 25px;
	background-color: green;
	color: white;
	cursor: pointer;
	border-radius: 5px;
}

.product-add:hover {
	background-color: white;
	color: green;
	font-weight: 600;
	border: 1px solid green;
}

.product-quantity>input {
	width: 40px;
	padding: 5px;
	text-align: center;
}

@media screen and (max-width: 700px) {
	.add {
		display: none;
	}

	.product {
		height: 150px;
	}
	.product>img {
		height: 150px;
		width: 200px;
	}

	.product-name,
	.product-price,
	.product-offer {
		margin-bottom: 10px;
	}
}

.checkout-container{
	margin: 80px;
	background-color: white;
}

.checkout{
	display: block;
	text-align: center;
}

.checkout-heading{
	display: block;
	text-align: center;
}

#items{
	display: block;
	text-align: center;
}

.purchase{
	display: block;
	text-align: center;
}